:root {
    --dark:#101010;
    --offDark:#282828;
    --darkContrast:aqua;
    --textColor:white;
}

.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

body {
    background-color: var(--dark);
    color:var(--textColor)
}

table, th, td {
  border: 1px solid var(--darkContrast);
}
tr:nth-child(even) {
  background-color: var(--offDark);
  color: var(--textColor);
}
tr:nth-child(odd) {
  background-color: var(--Dark);
  color: var(--textColor);
}
th:nth-child(even) {
  background-color: var(--offDark);
  color: var(--textColor);
}
